{% extends '!layout.html' %}

{% block document %}
    {% if display_toc and pagename != "index" and builder == 'htmlhelp' %}
<h1>{{ title }}</h1>
{{ toc|replace('<li><a class="reference internal" href="#">' ~ title ~ '</a><ul>', '') }}
{{ super()|replace('<h1>' ~ title ~ '</h1>', '') }}
    {% else %}
{{ super() }}
    {% endif %}
{% endblock %}

{% block footer %}
    {% if style == 'alabaster.css' %}
<div class="footer">&copy;{{ copyright }}<br>build date: {{ last_updated }}</div>
    {% else %}
{{ super() }}
    {% endif %}
{% endblock %}
