.navigation {
    background: linear-gradient(to left top, #2008b3, #1fa0fb);
    overflow: hidden;
    left: 0;
    max-width: 100%;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 0.6em;
    vertical-align: middle;
    line-height: 3em
}

.navigation svg {
    display: inline;
    vertical-align: middle
}

.navigation h1 {
    color: #ffffff;
    display: inline;
    font-size: 2rem;
    vertical-align: middle;
    margin-left: 1em
}

.navigation ul {
    list-style: none
}

.navigation-list {
    margin: 0;
    padding: 0
}

.navigation-item {
    margin: 0;
    padding: 0
}

.navigation-item input {
    background: #ffffff;
    margin: 0;
    padding: 5px;
    vertical-align: middle
}

header ul {
    list-style: none;
    text-align: right
}

header li {
    margin-bottom: 0
}

footer p {
    text-align: right
}

.search-match {
    background: #d7e9fb;
    padding: 5px
}

.search-nomatch {
    background: #e24a4a;
    padding: 5px;
    color: #fff5f5
}

a {
    color: #0074D9
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    background-color: #0074D9;
    border: .1rem solid #0074D9
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
    color: #0074D9
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
    color: #0074D9
}

pre {
    background: #f4f5f6;
    border-left: .3rem solid #0074D9
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
    border: .1rem solid #0074D9
}
