@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0 20px;
    line-height: 22px;
}

@media (max-width: 768px) {
    html, body {
        padding: 0 10px;
    }
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body {
   /* light theme */
  --text-color: #222222;
  --text-color-a: #006ab1;
  --text-color-code: #a31515;
  --text-color-pre-code: #1e1e1e;
  --bkg-color: #ffffff;
  --bkg-color-pre: #dcdcdc;
  --border-color-header-ul: #2a7fff;
  --text-color-footer: #cdcdcd;
}
body.dark-theme {
  --text-color: #d4d4d4;
  --text-color-a: #3794ff;
  --text-color-code: #d7ba7d;
  --text-color-pre-code: #d4d4d4;
  --bkg-color: #1e1e1e;
  --bkg-color-pre: #161616;
  --border-color-header-ul: #2a7fff;
  --text-color-footer: #424242;
}

body {
    background: var(--bkg-color);
}

h1, h2, h3, h4, h5,
p {
    color: var(--text-color);
}

h1, h2, h3 {
    font-weight: lighter;
}


label.search_input {
    color: var(--text-color);
}

img {
    max-width: 100%;
}

li::marker {
  color: var(--text-color);
}

li {
  color: var(--text-color);
}

code {
    color: var(--text-color-code);
}

pre {
    background-color: var(--bkg-color-pre);
    color: var(--text-color);
    border-radius: 2px;
    padding: 12px 20px;
    white-space: pre-wrap;
}

pre code {
    color: var(--text-color-pre-code);
}

a {
    color: var(--text-color-a);
    text-decoration: none;
}

h1 a, h2 a, h3 a {
    color: var(--text-color);
}

h1 code a, h2 code a, h3 code a {
    color: var(--text-color-code);
}

a:hover {
    text-decoration: underline;
}

table {
    border-spacing: 0;
    text-align: left;
    width: 100%;
    color: var(--text-color);
}

td {
    border-top-color: var(--text-color);
    border-top: 1px solid;
    padding-left: 4px;
    padding-right: 4px;
}

th {
    border-bottom: 1px solid;
    border-bottom-color: var(--text-color);
}

header {
    grid-area: header;
    text-align: right;
    padding: 0;
}

header input {
    margin-left: auto
}

header ul {
    border-color: var(--border-color-header-ul);
    border-style: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

header ul:not(:empty) {
    border-style: solid;
}

header input {
    margin: 20px 0 0 0;
}

footer {
    color: var(--text-color-footer);
    text-align: right;
    grid-area: footer;
}

footer p {
    color: var(--text-color-footer);
}

nav {
    grid-area: nav;
    padding-top: 20px;
    padding-right: 10px;
}

nav ul {
    padding-left: 20px;
}

nav h1 {
    font-size: 14pt;
}

nav code {
    color: var(--text-color-a);
}

main {
    grid-area: content;
}

.container {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "content"
        "footer";
    max-width: 1140px;
    margin: auto;
}

@media (min-width: 768px) {
    .container {
        grid-template-areas:
            "nav header"
            "nav content"
            "footer footer";
        grid-template-columns: 1fr 3fr;
    }
}

.search-match {
    padding: 4px;
}

.search-nomatch {
    list-style: none;
    padding: 4px;
}

/* toggle */
.toggle-control {
  display: block;
  position: absolute;
  margin: 20px 0px 0px;
  padding: 4px;
  cursor: pointer;
  text-align: right;
  font-size: 22px;
  user-select: none;
}
.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.toggle-control input:checked ~ .control {
  background-color: dodgerblue;
}
.toggle-control input:checked ~ .control:after {
  left: 30px;
}

.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 50px;
  border-radius: 11.5px;
  background-color: darkgray;
}

.toggle-control-trn .control-trn {
  transition: background-color 0.15s ease-in;
}

.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 4px;
  width: 15px;
  height: 15px;
  border-radius: 11.5px;
  background: white;
}

.toggle-control-trn .control-trn:after {
  transition: left 0.15s ease-in;
}
